<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College Fellow</title>
    <%- include("cdn/style") -%>
    <link rel="stylesheet" href="/css/styles.css"  >
    <link rel="stylesheet" href="/css/chat.css"  >
    <link rel="stylesheet" href="/css/active.css"  >
</head>
<body>
   
   <!-- Navbar content -->
    <div class="nav-wrapper">
      <nav class="navbar navbar-expand navbar-light" style="background-color:  #081120;" aria-expanded="false">
        <!-- LOGO  -->
        <a class="navbar-brand" href="#">
            <img style="width: 50px; height: 50px;" src="/images/logo-icon.png">
            <span class="align-bottom">CF</span> 
        </a>
        <!-- navbar menu -->
        <ul class="navbar-nav ml-auto">
         <li class="nav-item dropdown">
              <a class="nav-link text-white dropdown-toggle" href="#" id="DroownActive" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                <i class="fa fa-toggle-on" style="font-size:x-large; margin-left: 1.5rem;"></i></a>
                <div class="dropdown-menu active-dropdown" aria-labelledby="DropdownActive">
                  <div class="arrow"></div>
                  <ul class="coloum" id="statusResult">
                    <!-- active user -->
                  </ul>
                </div>
            </li>


          <li class="nav-item dropdown">
            <a class="nav-link text-white dropdown-toggle" href="#" id="DroownExplore" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
              <i class="fa fa-search-plus" style="font-size:x-large; margin-left: 1.5rem;"></i></a>
              <div class="dropdown-menu explore-dropdown" aria-labelledby="DropdownExplore">
                <div class="arrow"></div>
                <div class="input-group pt-1 p-2">
                  <input type="text" class="form-control" placeholder="search..."  id="userSearch"
                   aria-label="Username" autocomplete="off" aria-describedby="basic-addon1">
                </div>
                <ul class="coloum" id="searchResult">
                 <!-- search result will here -->
                </ul>
                </div>
          </li>
            <li class="nav-item ">
              <a class="nav-link " href="#" style="color: #D03737;"  >
                <i class="fa fa-paper-plane" style="font-size:x-large; margin-left: 1.5rem;"></i></a>
            </li>
            <li class="nav-item ">
              <a class="nav-link text-white" href="/profile" >
                <i class="fa fa-user-circle" style="font-size:x-large; margin-left: 1.5rem;"></i></a>
            </li>
          </ul>
        <!--active chat list-->
        <a class="navbar-brand" href="#menu-toggle" id="menu-toggle">
            <i class="fa fa-bars" style="font-size:x-large; margin-left: 1.5rem; color: white;"></i>
        </a>
      </nav>
    </div>
 <!-- Navbar content wrapper -->

    <div id="wrapper" class="toggled">
        <div class="container-fluid" >
            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <div class="input-group search-user">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">
                          <i class="fa fa-search" ></i>
                      </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
                <div style="border-bottom: 1px solid black;"></div>
                
                <ul id="users" style="margin-top: 1rem;">
                      <li>
                          <div class="user-header">
                            <img src="/images/my.jpg" style="width: 50px; border-radius: 50%;">
                            <strong class="align-top" style="margin-left: 5px;"> Smile</strong>
                          </div>
                          <div class="user-footer">
                            <p class="text-smaller text-muted mb-0">Active now</p>
                            <span class="online_icon"></span>
                          </div>
                    </li>
                    <li>
                         <div class="user-header">
                            <img src="/images/my.jpg" style="width: 50px; border-radius: 50%;">
                            <strong class="align-top" style="margin-left: 5px;"> Danny Smith</strong>
                          </div>
                          <div class="user-footer">
                            <p class="text-smaller text-muted mb-0">Active 5m ago</p>
                            <span class="online_icon offline"></span>
                          </div>
                    </li>
                    <li>
                        <div class="user-header">
                           <img src="/images/my.jpg" style="width: 50px; border-radius: 50%;">
                           <strong class="align-top" style="margin-left: 5px;"> John</strong>
                         </div>
                         <div class="user-footer">
                           <p class="text-smaller text-muted mb-0">Actve 1d ago</p>
                           <span class="online_icon offline"></span>
                         </div>
                   </li>
                   <li>
                      <div class="user-header">
                         <img src="/images/my.jpg" style="width: 50px; border-radius: 50%;">
                         <strong class="align-top" style="margin-left: 5px;"> Brad </strong>
                      </div>
                      <div class="user-footer">
                        <p class="text-smaller text-muted mb-0">Active 11h ago</p>
                        <span class="online_icon offline"></span>
                      </div>
                    </li>
                   
                </ul>
            </div>
            <!-- /#sidebar-wrapper -->
            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="row justify-content-center h-100 ">
                    <div class="col" style="padding: 0px;">
                      <!--chat header-->
                      <div class="card-header">
                        <div class="d-flex bd-highlight">
                          <div class="img_cont">
                            <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
                            <span class="online"></span>
                          </div>
                          <div class="user_info">
                            <strong class="align-bottom"> Smile </strong>
                            <p id="notification" class="">Active now</p>
                          </div>
                          <span id="action_menu_btn"><i class="fa fa-ellipsis-v"></i></span>
                          <div class="action_menu">
                            <ul>
                              <li><i class="fa fa-user-circle"></i> View profile</li>
                              <li><i class="fa fa-trash"></i> Delete chat</li>
                              <li><i class="fa fa-ban"></i> Block</li>
                            </ul>
                          </div>
                      </div>
                      <div class="chat-divider"></div>
                      <!--chat cantainer-->
                      <div class="chat-container">
                        <div class="d-flex justify-content-start mb-4">
                          <div class="img_cont_msg">
                            <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img_msg">
                          </div>
                          <div class="msg_cotainer">
                            Hi, how are you Rohit?
                            <span class="msg_time">8:40 AM</span>
                          </div>
                        </div>
                        <div class="d-flex justify-content-end mb-4">
                          <div class="msg_cotainer_send">
                            Hi Smile i am good tnx how about you?
                            <span class="msg_time_send">8:55 AM</span>
                          </div>
                          <div class="img_cont_msg">
                        <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img_msg">
                          </div>
                        </div>
                      </div>
                      <!--Message send form container -->
                      <div class="card-footer ">
                        <div class="input-group"> 
                          <!-- <div class="input-group-append">
                            <span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
                          </div> -->
                          <input type="text" name="" class="form-control type_msg" placeholder="Type your message..."></input>
                          <div class="input-group-append">
                            <span class="input-group-text send_btn"><i class="fa fa-location-arrow"></i></span>
                          </div>
                        </div>
                      </div> 

                    </div>
                </div>
              </div>
            <!-- /#page-content-wrapper -->
        </div>
    </div>
    <!-- /#wrapper -->

    <!-- JQuery -->
   <%- include("cdn/script") -%>
   <script src="/socket.io/socket.io.js" ></script>
   <script src="../js/message.js" type="text/javascript"></script>  
    <script>
      	$(document).ready(function(){
            $('#action_menu_btn').click(function(){
              $('.action_menu').toggle();
            });
            $("#menu-toggle").click(function(e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });

            $('#userSearch').on("keyup", function() {
              const username = $(this).val();
              $.post('/explore', { data: username },(res)=>{
                    var Data = '';
                    $.each(res, (key, value) => {
                      if("<%=user.username%>" !=value.username){
                            Data += `<a href='/${value.username}' ><li class='list'>  <div class='list-img'>`;
                            Data += `<img src='uploads-profile/${ value.photo }'  alt='profile'> </div>`;
                            Data += "<div class='list-content'> <div><strong>" + value.username + "</strong></div>";
                            Data += "<div>" + value.collegeName + "</div>";
                            Data += "</div>  </li> </a>"; 
                      }
                        });
                        $('#searchResult').html(Data);
                    
                });
            }); 

            //active user
            const socket = io();
            var username= "<%=user.username%>";
            socket.emit('newUser',username);

            $('.fa-toggle-on').click(()=>{
              $.post('/status',(res)=>{
                    var Data = '';
                    $.each(res, (key, value) => {
                                if("<%=user.username%>" !=value.username){
                                    Data += `<li class='list'>  <div class='list-img'>`;
                                    Data += `<img src='uploads-profile/${ value.photo }'  alt='profile'> </div>`;
                                    Data += "<div class='list-content'> <div><strong>" + value.username + "</strong> </div>";
                                    Data += "<div>Active now</div> <div class='online-list'></div> </div>";
                                    Data +=  `<div class='list-btn'> <a class='btn btn-primary' href='/chat/${value._id}'>chat</a>`;
                                    Data += "</div>  </li>"; 
                                }
                        });
                        $('#statusResult').html(Data);
                    
                });
              });
              
        });
        
    </script>
</body>
</html>