<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College Fellow</title>
    <%- include("cdn/style") -%>
    <link rel="stylesheet" href="./css/styles.css"  >
    <link rel="stylesheet" href="./css/profile.css"  >
    <link rel="stylesheet" href="./css/active.css"  >
</head>
<body>

   <!-- Navbar content -->
    <div class="nav-wrapper">
      <nav class="navbar navbar-expand navbar-light" style="background-color:  #081120;" aria-expanded="false">
        <!-- LOGO  -->
        <a class="navbar-brand" href="#">
          <img style="width: 50px; height: 50px;" src="./images/logo-icon.png">
          <span class="align-bottom">CF</span> 
        </a>
        <!-- navbar menu -->
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link text-white dropdown-toggle" href="#" id="DroownActive" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                <i class="fa fa-toggle-on" style="font-size:x-large; margin-left: 1.5rem;"></i></a>
                <div class="dropdown-menu active-dropdown" aria-labelledby="DropdownActive">
                  <div class="arrow"></div>
                  <ul class="coloum" id="statusResult">
                    <!-- active user -->
                  </ul>
                  </div>
            </li>

           <!-- //search user -->
            <li class="nav-item dropdown">
              <a class="nav-link text-white dropdown-toggle" href="#" id="DroownExplore" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                <i class="fa fa-search-plus" style="font-size:x-large; margin-left: 1.5rem;"></i></a>
                <div class="dropdown-menu explore-dropdown" aria-labelledby="DropdownExplore">
                  <div class="arrow"></div>
                  <div class="input-group pt-1 p-2">
                     <input type="text" class="form-control" placeholder="search..."  id="userSearch"
                     aria-label="Username" autocomplete="off" aria-describedby="basic-addon1">
                  </div>
                   <ul class="coloum" id="searchResult">
                     <!-- result will here -->
                   </ul>
                 </div>
            </li>

            <li class="nav-item ">
              <a class="nav-link text-white" href="chat" >
                <i class="fa fa-paper-plane" style="font-size:x-large; margin-left: 1.5rem;"></i></a>
            </li>
            <li class="nav-item ">
              <a class="nav-link " href="#" style="color: #D03737;">
                <i class="fa fa-user-circle" style="font-size:x-large; margin-left: 1.5rem;"></i></a>
            </li>
          </ul>
        
      </nav>
    </div>

    <section id="header">
      
          <div class="row">
            <div class="col col-sm-12">
              <div class="profile-container">
                <div class=" profile" >
                  <div class="profile-img text-right">
                    <img 
                    <% if(user.photo) {%>
                    src="./uploads-profile/<%=user.photo%>" 
                    <% }else{ %>
                      src="./uploads-profile/default-profile.png"  
                    <% } %>
                    alt="profile">
                  </div>
                  <div class="profile-content ">
                    <div><a class="align-top username"><%= user.username%></a></div>
                    <a href="./settings#edit-profile" style="color: white;" class="btn btn-profile ">Edit Profile</a> 
                    <a data-toggle="modal" data-target="#logout-modal" style="color: white;" class="btn btn-logout ml-2">Logout</a> 
                  </div>
                </div>
                  <div class="row">
                    <div class="col col-sm-12 mt-3 md-follow text-center">
                      <a data-toggle="modal" data-target="#request-modal" class="follow "><strong><%= user.recievedRequest.length%></strong> Requests</a>
                      <a data-toggle="modal" data-target="#follow-modal" class="follow "><strong><%= user.follow.length%></strong> followers</a>
                      <a data-toggle="modal" data-target="#following-modal"class="follow"><strong><%= user.following.length%></strong> followings</a>
                    </div>
                  </div>
                </div> 
              </div>
            </div>
            <div class="container temp-div"></div>
            <div class="row sm-follow">
              <div class="col col-sm-12 mt-3  text-center">
                <div style="border-bottom: 1px solid #8f8888;"></div>
                <a data-toggle="modal" data-target="#request-modal" class="s-follow "><strong><%= user.recievedRequest.length%></strong> Requests</a>
                <a data-toggle="modal" data-target="#follow-modal" class="s-follow "><strong><%= user.follow.length%></strong> followers</a>
                <a data-toggle="modal" data-target="#following-modal"class="s-follow"><strong><%= user.following.length%></strong> followings</a>
                <div style="border-bottom: 1px solid #8f8888;"></div>
              </div>
            </div>
            <div class="row text-center">
              <div class="col bio">
                <p><strong>BIO:</strong>
                <br><% if(user.name) {%> 
                  <%=user.name %><br>
                <% } %>👇👇👇👇👇<br>
                <% if(user.bio) {%> 
                  <%const array=user.bio.split('\n') %>
                     <%for( item of array){%>
                      <%=item %> <br>
                      <%}%>
                <% } %>
              </p>
              </div>
            </div>
            <!-- <div class="col col-md-6 col-sm-12"></div> -->
          </div>
         

    </section> 
    <!-- Follow Modal -->
<div class="modal fade" id="follow-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Followers</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="coloums">
         
          <li class="dropdown-item list">
            <div class="list-img">
              <img src="./images/my.jpg" alt="profile">
            </div>
            <div class="list-content">
              <div><strong>Rohit Kumar</strong></div>
              <div>College Name</div>
            </div>
            <div class="list-btn">
              <button class="btn btn-primary">follow</button>
            </div>
          </li>
          <li class="dropdown-item list">
            <div class="list-img">
              <img src="./images/my.jpg" alt="profile">
            </div>
            <div class="list-content">
              <div><strong>Smile</strong></div>
              <div>College Name</div>
            </div>
            <div class="list-btn">
              <button class="btn btn-light">following</button>
            </div>
          </li>
          <li class="dropdown-item list">
            <div class="list-img">
              <img src="./images/my.jpg" alt="profile">
            </div>
            <div class="list-content">
              <div><strong>Rohit Kumar</strong></div>
              <div>College Name</div>
            </div>
            <div class="list-btn">
              <button class="btn btn-primary">follow</button>
            </div>
          </li>
          <li class="dropdown-item list">
            <div class="list-img">
              <img src="./images/my.jpg" alt="profile">
            </div>
            <div class="list-content">
              <div><strong>Rohit Kumar</strong></div>
              <div>College Name</div>
            </div>
            <div class="list-btn">
              <button class="btn btn-primary">follow</button>
            </div>
          </li>
         
        </ul>
      </div>
    </div>
  </div>
</div>

    <!-- Following Modal -->
    <div class="modal fade" id="following-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Followings</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <ul class="coloums">
              <li class="dropdown-item list">
                <div class="list-img">
                  <img src="./images/my.jpg" alt="profile">
                </div>
                <div class="list-content">
                  <div><strong>Rohit Kumar</strong></div>
                  <div>College Name</div>
                </div>
                <div class="list-btn">
                  <button class="btn btn-light">following</button>
                </div>
              </li>
              <li class="dropdown-item list">
                <div class="list-img">
                  <img src="./images/my.jpg" alt="profile">
                </div>
                <div class="list-content">
                  <div><strong>Smile</strong></div>
                  <div>College Name</div>
                </div>
                <div class="list-btn">
                  <button class="btn btn-light">following</button>
                </div>
              </li>
              <li class="dropdown-item list">
                <div class="list-img">
                  <img src="./images/my.jpg" alt="profile">
                </div>
                <div class="list-content">
                  <div><strong>Rohit Kumar</strong></div>
                  <div>College Name</div>
                </div>
                <div class="list-btn">
                  <button class="btn btn-light">following</button>
                </div>
              </li>
              <li class="dropdown-item list">
                <div class="list-img">
                  <img src="./images/my.jpg" alt="profile">
                </div>
                <div class="list-content">
                  <div><strong>Smile</strong></div>
                  <div>College Name</div>
                </div>
                <div class="list-btn">
                  <button class="btn btn-light">following</button>
                </div>
              </li>
              <li class="dropdown-item list">
                <div class="list-img">
                  <img src="./images/my.jpg" alt="profile">
                </div>
                <div class="list-content">
                  <div><strong>Rohit Kumar</strong></div>
                  <div>College Name</div>
                </div>
                <div class="list-btn">
                  <button class="btn btn-light">following</button>
                </div>
              </li>
              <li class="dropdown-item list">
                <div class="list-img">
                  <img src="./images/my.jpg" alt="profile">
                </div>
                <div class="list-content">
                  <div><strong>Smile</strong></div>
                  <div>College Name</div>
                </div>
                <div class="list-btn">
                  <button class="btn btn-light">following</button>
                </div>
              </li>
              <li class="dropdown-item list">
                <div class="list-img">
                  <img src="./images/my.jpg" alt="profile">
                </div>
                <div class="list-content">
                  <div><strong>Smile</strong></div>
                  <div>College Name</div>
                </div>
                <div class="list-btn">
                  <button class="btn btn-light">following</button>
                </div>
              </li>
              <li class="dropdown-item list">
                <div class="list-img">
                  <img src="./images/my.jpg" alt="profile">
                </div>
                <div class="list-content">
                  <div><strong>Smile</strong></div>
                  <div>College Name</div>
                </div>
                <div class="list-btn">
                  <button class="btn btn-light">following</button>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

        <!-- Request Modal -->
<div class="modal fade" id="request-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Follow Requests</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="coloums">
         
          <li class="dropdown-item list">
            <div class="list-img">
              <img src="./images/my.jpg" alt="profile">
            </div>
            <div class="list-content">
              <div><strong>Rohit Kumar</strong></div>
              <div>Malviya National Institute of Technology Jaipur</div>
            </div>
            <div class="list-btn">
              <button class="btn btn-primary">Confirm</button>
              <button class="btn btn-del">Delete</button>
            </div>
          </li>
          <li class="dropdown-item list">
            <div class="list-img">
              <img src="./images/my.jpg" alt="profile">
            </div>
            <div class="list-content">
              <div><strong>Smile</strong></div>
              <div>College Name</div>
            </div>
            <div class="list-btn">
              <button class="btn btn-primary">Confirm</button>
              <button class="btn btn-del">Delete</button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!--log out Modal -->
<div class="modal" tabindex="-1" id="logout-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Log Out</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>You want to Logout. Are you sure?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
        <a href="/users/logout" type="button" class="btn btn-logout">Yes</a>
      </div>
    </div>
  </div>
</div>
    
<footer class="fixed-bottom footer">© 2020 COLLEGE FELLOW</footer>


<%- include("cdn/script") -%>
<script src="/socket.io/socket.io.js" ></script>
<script src="../js/index.js" type="text/javascript"></script>
<script>
  $(document).ready(()=>{
     
    $('#userSearch').on("keyup", function() {
       const username = $(this).val();
       $.post('/explore', { data: username },(res)=>{
            var Data = '';
            $.each(res, (key, value) => {
                    Data += `<a href='/${value.username}' ><li class='list'>  <div class='list-img'>`;
                    Data += `<img src='uploads-profile/${ value.photo }'  alt='profile'> </div>`;
                    Data += "<div class='list-content'> <div><strong>" + value.username + "</strong></div>";
                    Data += "<div>" + value.collegeName + "</div>";
                    Data += "</div>  </li> </a>"; 
                });
                $('#searchResult').html(Data);
            
        });
    });  
    
    
    //active user
    const socket = io();
    var username= "<%=user.username%>";
    socket.emit('newUser',username);

    $('.fa-toggle-on').click(()=>{
      $.post('/status',(res)=>{
            var Data = '';
            $.each(res, (key, value) => {
                        if("<%=user.username%>" !=value.username){
                            Data += `<li class='list'>  <div class='list-img'>`;
                            Data += `<img src='uploads-profile/${ value.photo }'  alt='profile'> </div>`;
                            Data += "<div class='list-content'> <div><strong>" + value.username + "</strong> </div>";
                            Data += "<div>Active now</div> <div class='online-list'></div> </div>";
                            Data += "<div class='list-btn'> <button class='btn btn-primary'>chat</button>";
                            Data += "</div>  </li>"; 
                        }
                });
                $('#statusResult').html(Data);
            
        });
      });
    });
</script>
</body>
</html>